@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: Inter, system-ui;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 48px;
  color: #1a202c;
  line-height: 1.25;
}

nav {
  display: flex;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.purple {
  color: #6415ff;
}

/* LANDING */

#landing {
  margin-top: 32px;
}

.logo__font {
  color: #243e63;
  font-size: 24px;
  font-weight: 1000;
  margin: 0px 24px 0px 0px;
  padding: 0px 0px 4px;
  display: flex;
  align-items: center;
  transition: all 300ms ease;
}

.logo__font:hover {
  color: #6415ff;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
}

.nav__logo {
  height: 40px;
  width: 40px;
  margin: 0px 12px 0px 0px;
}

.nav__links {
  display: flex;
}

.nav__link--login {
  color: #243e63;
  font-size: 14px;
  margin: 0px 24px 0px 48px;
  padding: 0px 0px 4px;
  font-weight: 600;
  transition: all 300ms ease;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
  text-decoration-color: transparent;
}

.nav__link--signup {
  color: white;
  font-size: 14px;
  padding: 0px 0px 4px;
  font-weight: 600;
  background-color: #6415ff;
  border-radius: 9999px;
  padding: 12px 32px;
  transition: all 300ms ease;
}

.nav__link--signup:hover {
  background-color: rgb(80 17 204);
}

.nav__link {
  color: #243e63;
  font-size: 14px;
  margin: 0px 24px;
  padding: 0px 0px 4px;
  font-weight: 600;
  transition: all 300ms ease;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
  text-decoration-color: transparent;
}

.nav__link:hover {
  color: #6415ff;
  text-decoration-color: #6415ff;
}

.nav__link--login:hover {
  color: #6415ff;
  text-decoration-color: #6415ff;
}

.button__menu {
  background-color: transparent;
  font-size: 32px;
  text-align: center;
  border: none;
  color: #6415ff;
  display: none;
  z-index: 100;
}

.menu__backdrop {
  position: fixed;
  background-color: white;
  border: solid 1px lightgray;
  border-radius: 8px;
  top: 0;
  right: 0;
  height: auto;
  max-height: 150vh;
  padding: 48px;
  margin-top: 24px;
  margin-right: 24px;
  margin-left: 24px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 100ms ease;
  opacity: 0;
  width: 0;
  visibility: hidden;
}

.menu--open .menu__backdrop {
  display: flex;
  visibility: visible;
  opacity: 1;
  width: 95%;
}

.menu--open {
  max-height: 50vh;
  overflow-y: hidden;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 16px 0;
}

.menu__link {
  font-size: 24px;
  color: black;
  font-weight: 500;
  margin-bottom: 16px;
}

.button__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: #6415ff;
}

.hamburger__button {
  color: white;
  font-size: 20px;
  padding: 24px 36px;
  font-weight: 600;
  background-color: #6415ff;
  border-radius: 9999px;
  padding: 12px 32px;
  transition: all 300ms ease;
}

/* INTRO */

.intro__column--wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 96px 0px;
  max-width: 1280px;
  margin: 0 auto;
}

.intro__image--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
}

.intro__image {
  width: 100%;
}

.intro__column {
  width: 45%;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.column__input__actions {
  position: relative;
  text-align: center;
  max-width: 28rem;
  border-color: rgb(226, 232, 240);
  display: flex;
}

.intro__input {
  width: 100%;
  font-size: 16px;
  border-radius: 9999px;
  border-width: 2px;
  border: solid;
  padding: 24px 48px 24px 24px;
  font-weight: 500;
  border-color: rgb(226, 232, 240);
  color: rgb(226, 232, 240);
  overflow: hidden;
  opacity: 0.5;
  position: relative;
}

.column__para {
  font-size: 12px;
  color: rgb(160 174 192);
  font-weight: 700;
  margin: 85px 0px 16px 0px;
}

.template__para {
  margin: 32px 0px 32px 0px;
  font-size: 18px;
  color: #243e63;
  line-height: 1.5;
}

.trusted__customers--img {
  opacity: 0.5;
  width: 100%;
  max-width: 400px;
}

.button__wrapper {
  position: absolute;
  right: 10px;
  bottom: 25px;
}

.get__started__button {
  color: white;
  font-weight: 700;
  background-color: #6415ff;
  padding: 16px 32px;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 300ms ease;
}

.get__started__button:hover {
  background-color: rgb(80 17 204);
}

/* SERVICE */

.container {
  padding-top: 96px;
  padding-bottom: 96px;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.features__header {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1.5px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0px 0px 16px;
}

.features__h1 {
  font-size: 48px;
  font-weight: 900;
  color: #243e63;
  display: flex;
  justify-content: center;
  letter-spacing: 1.5px;
}

.service__span {
  margin-left: 10px;
}

.service__para {
  color: #7c8ba1;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.625;
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 576px;
  margin: 0 auto;
  margin-top: 24px;
}

.feature__img__wrapper {
  border: 1px solid rgb(226, 232, 240);
  padding: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.feature__highlights {
  display: flex;
}

.feature__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #243e63;
  margin: 16px 0px 0px;
}

.feature__para {
  color: #7c8ba1;
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  margin: 16px 0px 0px;
}

.feature__highlights {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
}

.feature__individual__wrapper--even {
  width: calc(100% / 3);
  display: flex;
  margin-bottom: 60px;
  margin-right: 40px;
  max-width: 300px;
}

.feature__individual__wrapper--odd {
  width: calc(100% / 3);
  display: flex;
  margin-bottom: 60px;
  margin-right: 40px;
  max-width: 300px;
}

/* QUALITY */

.quality__container {
  padding-top: 96px;
  padding-bottom: 96px;
}

.quality__row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.quality__text__container {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 36px;
}

.quality__img__wrapper {
  width: 50%;
}

.quality__img {
  width: 100%;
  border: solid 1px rgb(226, 232, 240);
  border-radius: 2px;
}

.quality__span {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1.5px;
}

.quality__title {
  font-size: 48px;
  color: #243e63;
  font-weight: 900;
  margin: 16px 0px 0px;
  letter-spacing: 1.5px;
}

.quality__para {
  color: #7c8ba1;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.625;
  margin: 16px 0px 0px;
  padding-bottom: 50px;
}

.quality__button {
  color: white;
  font-size: 14px;
  font-weight: 700;
  background-color: #6415ff;
  margin: 32px 0px 0px;
  padding: 12px 32px;
  border-radius: 9999px;
  transition: all 300ms ease;
}

.quality__button:hover {
  background-color: rgb(80 17 204);
}

/* GET STARTED */

.get__started__container {
  padding-top: 96px;
  padding-bottom: 96px;
}

.get__started__row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.get__started__imgwrapper {
  width: 50%;
  padding-right: 50px;
  padding-top: 50px;
}

.get__started--img {
  max-width: 600px;
  max-height: 600px;
}

.get__started__textwrapper {
  width: 50%;
  padding-left: 80px;
}

.get__started__task {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 24px;
}

.get__started__list {
  padding-top: 40px;
}

.list__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.list__number {
  font-size: 36px;
  font-weight: 600;
  padding-right: 36px;
  color: #cbd5e0;
}

.list__title {
  font-size: 20px;
  font-weight: 600;
  color: #243e63;
}

.list__para {
  font-size: 14px;
  color: #718096;
  margin: 12px 0px 0px;
  line-height: 2;
}

/* VALUES */

.values__container {
  padding-top: 96px;
  padding-bottom: 96px;
}

.values__textwrapper {
  width: 50%;
}

.values__img__wrapper {
  width: 50%;
}

.values__img {
  width: 100%;
}

.values__row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.test {
  font-size: 40px;
}

.values__column--img {
  color: rgb(39, 103, 73);
  background-color: rgb(154 230 180);
  padding: 10px 12px;
  border-radius: 20px;
}

.values__column--img2 {
  color: rgb(155, 44, 44);
  background-color: #feb2b2;
  padding: 10px;
  border-radius: 20px;
}

.values__column {
  display: flex;
  flex-direction: row;
  padding-bottom: 48px;
}

.values__column--title {
  color: #243e63;
  font-size: 20px;
  margin: 0px 0px 0px 12px;
  font-weight: 700;
}

.values__para {
  color: #718096;
  font-size: 16px;
  margin: 16px 0px 0px;
  line-height: 1.625;
}

.values__button {
  color: white;
  font-size: 14px;
  font-weight: 700;
  background-color: #6415ff;
  padding: 12px 32px;
  border-radius: 9999px;
  transition: all 300ms ease;
}

.values__button:hover {
  background-color: rgb(80 17 204);
}

/* PRICING */

.pricing__container {
  padding: 96px;
}

.pricing__row {
  margin: 0 auto;
  max-width: 1200px;
}

.pricing__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing__para {
  max-width: 600px;
}

.three__plans__personal__container {
  width: 33%;
  margin-left: 20px;
  margin-right: 20px;
}

.three__plans__personal__container--purple {
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  border-radius: 8px;
  width: 33%;
}

.three__plans__container {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  position: relative;
}

.three__plans__personal__line--green {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  padding: 4px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.three__plans__personal__title {
  padding: 30px 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.625;
  border-right: solid 2px rgba(226, 232, 240, 0.582);
  border-left: solid 2px rgba(226, 232, 240, 0.582);
  z-index: 5;
}

.three__plans__personal__title--purple {
  padding: 35px 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.625;
  z-index: 5;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.name {
  color: #1a202c;
  font-size: 20px;
  font-weight: 700;
  z-index: 5;
}

.price {
  color: #1a202c;
  font-size: 48px;
  margin: 4px 0px;
  font-weight: 700;
  z-index: 5;
}

.duration {
  color: #a0aec0;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  z-index: 5;
}

.three__plans__personal__features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  border: solid 2px rgba(226, 232, 240, 0.582);
  z-index: 5;
}

.three__plans__personal__features--purple {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  border-top: solid 2px rgba(102, 126, 234);
  border-bottom: solid 2px rgba(102, 126, 234);
  z-index: 5;
  position: relative;
}

.main__feature {
  font-size: 20px;
  font-weight: 700;
  color: #1a202c;
  z-index: 5;
}

.feature {
  margin: 20px 0px 0px;
  font-size: 16px;
  color: #718096;
  font-weight: 500;
  z-index: 5;
}

.personal__button__container {
  padding: 40px 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px rgba(226, 232, 240, 0.582);
  z-index: 5;
}

.personal__button--green {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
  color: white;
  padding: 16px 64px;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  border: none;
  border-radius: 9999px;
  transition: all 300ms ease-in-out;
}

.personal__button--green:hover {
  transform: translate(2px, -2px);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
}

.personal__button__container--purple {
  padding: 40px 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.personal__button--white {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #6415ff;
  padding: 16px 64px;
  background-color: white;
  border: none;
  border-radius: 9999px;
  z-index: 5;
  transition: all 300ms ease-in-out;
}

.personal__button--white:hover {
  transform: translate(2px, -2px);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
}

.three__plans__personal__line--red {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  padding: 4px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.personal__button--red {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
  color: white;
  padding: 16px 64px;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  border: none;
  border-radius: 9999px;
  transition: all 300ms ease-in-out;
}

.personal__button--red:hover {
  transform: translate(2px, -2px);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
}

.white {
  color: white;
}

/* TESTIMONIALS */

.testimonials__container {
  padding-top: 96px;
  padding-bottom: 96px;
  display: flex;
  justify-content: center;
}

.testimonials__row {
  width: 100%;
  max-width: 1250px;
}

.testimonials__columns {
  display: flex;
  flex-direction: row;
}

.testimonials__columns--left {
  width: 50%;
  margin-top: 96px;
  margin-right: 120px;
}

.testimonials__img__wrapper {
  max-width: 600px;
  max-height: 600px;
}

.testimonials__img {
  max-width: 650px;
  max-height: 650px;
}

.testimonials__columns--right {
  width: 50%;
}

.stars__wrapper {
  color: rgb(246, 173, 85);
  margin-bottom: 16px;
}

.testimonials__subtitle {
  font-size: 20px;
  margin: 16px 0px 0px;
  color: rgb(36, 62, 99);
  opacity: 0.95;
  font-weight: 700;
}

.testimonials__para {
  font-size: 16px;
  color: #4a5568;
  opacity: 0.95;
  margin: 16px 0px 40px;
  line-height: 1.625;
  font-weight: 500;
}

.testimonials__review {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.testimonials__review--left {
  display: flex;
}

.testimonials__review__img {
  max-width: 80px;
  max-height: 80px;
  border-radius: 50px;
}

.testimonials__review__title {
  font-size: 20px;
  color: #243e63;
  font-weight: 700;
  margin-bottom: 4px;
}

.testimonials__review__subtitle {
  font-size: 16px;
  font-weight: 500;
  color: #7c8ba1;
  margin-left: 5px;
}

.testimonials__review__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 16px;
  padding-top: 16px;
  margin-left: 16px;
}

.arrow__left {
  font-size: 16px;
  color: #6415ff;
  background-color: #edf2f7;
  padding: 16px 18px;
  border: none;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
  transition: all 300ms ease;
}

.arrow__left:hover {
  background-color: rgb(226, 232, 240);
}

.testimonials__review__arrows {
  display: flex;
  flex-direction: row;
  position: relative;
}

.arrow__middle {
  height: 25px;
  width: 1px;
  background-color: #71809638;
  padding: 0.5px;
  position: absolute;
  right: 70px;
  bottom: 12px;
}

.arrow__right {
  font-size: 16px;
  color: #6415ff;
  background-color: #edf2f7;
  padding: 16px 18px;
  border: none;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
  transition: all 300ms ease;
}

.arrow__right:hover {
  background-color: rgb(226, 232, 240);
}

/* FAQS */

.faqs__container {
  padding: 96px;
}

.faqs__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.faqs__para {
  font-size: 18px;
  font-weight: 500;
  color: #7c8ba1;
  max-width: 500px;
  margin-top: 24px;
  text-align: center;
  line-height: 1.625;
}

.faqs__accordion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.faqs__accordion__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  background-color: #edf2f7;
  padding: 16px 40px;
  margin: 20px 0px 0px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 300ms ease;
}

.faqs__accordion__box:hover {
  background-color: rgb(226 232 240);
}

.faq__accordion__text {
  font-size: 20px;
  font-weight: 600;
  color: #2d3748;
}

/* FOOTER BANNER */

.footer__banner__container {
  padding: 96px 0px;
}

.footer__banner__row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer__banner__box {
  background-color: rgb(100, 21, 255);
  padding: 96px 0px;
  border-radius: 8px;
}

.footer__banner__wrapper {
  display: flex;
  justify-content: space-evenly;
}

.footer__banner__text {
  color: white;
  font-size: 30px;
  font-weight: 700;
  max-width: 500px;
}

.footer__banner__getstarted {
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: #f56565;
  border: none;
  border-radius: 40px;
  padding: 20px 40px;
  margin-right: 16px;
  transition: all 300ms ease;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.288);
}

.footer__banner__getstarted:hover {
  background-color: rgb(229, 62, 62);
}

.footer__banner__contactus {
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: rgb(100, 21, 255);
  border: 0.1px solid white;
  border-radius: 40px;
  padding: 20px 40px;
  margin-left: 16px;
  transition: all 300ms ease;
}

.footer__banner__contactus:hover {
  color: rgb(100, 21, 255);
  background-color: white;
}

/* FOOTER */

.footer__container {
  color: white;
  background-color: #6415ff;
  padding: 96px 300px;
  margin-top: 96px;
}

.footer__lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.footer__listheader {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 24px;
}

.footer__link {
  font-size: 14px;
  font-weight: 500;
  padding: 0px 0px 16px;
  transition: all 300ms ease-in-out;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
  cursor: pointer;
  text-decoration-color: transparent;
}

.footer__link:hover {
  text-decoration-color: white;
}

.footer__divider {
  background-color: rgba(211, 211, 211, 0.199);
  margin-top: 64px;
  margin-bottom: 64px;
  padding: 1px;
  width: 100%;
  height: 1px;
}

.footer__logos__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__logos__subwrapper {
  display: flex;
  flex-direction: row;
}

.footer__logo {
  height: 32px;
  width: 32px;
}

.footer__logo__text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 1.5px;
  padding-left: 5px;
}

.footer__logo__copyright {
  font-size: 16px;
  color: #cbd5e0;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.footer__link__button {
  font-size: 14px;
  color: #1a202c;
  background-color: white;
  padding: 8px;
  border-radius: 9999px;
  margin: 6px;
  transition: all 300ms ease;
}

.footer__link__button__facebook {
  font-size: 14px;
  color: #1a202c;
  background-color: white;
  padding: 8px 12px;
  border-radius: 9999px;
  margin: 6px;
  transition: all 300ms ease;
}

.footer__link__button:hover {
  background-color: rgb(203, 213, 224);
  cursor: pointer;
}

.footer__link__button__facebook:hover {
  background-color: rgb(203, 213, 224);
  cursor: pointer;
}

/* LAPTOP */

@media (max-width: 1280px) {
  .nav__container {
    max-width: 80%;
  }

  .intro__image--wrapper {
    max-width: 40%;
  }

  .quality__text__container {
    max-width: 60%;
    margin-left: 36px;
  }

  .quality__img__wrapper {
    max-width: 40%;
  }

  .get__started__imgwrapper {
    max-width: 50%;
    margin-left: 36px;
    margin-top: 36px;
  }

  .get__started--img {
    max-width: 100%;
  }

  .get__started__textwrapper {
    padding-left: 0px;
  }

  .values__textwrapper {
    margin-left: 36px;
  }

  .values__img__wrapper {
    max-width: 40%;
  }

  .testimonials__columns--left {
    margin-right: 24px;
    margin-left: 24px;
    width: 40%;
  }

  .testimonials__columns--right {
    width: 50%;
  }

  .testimonials__img__wrapper {
    width: 100%;
  }

  .testimonials__img {
    width: 100%;
  }

  #footer__banner {
    display: flex;
    justify-content: center;
  }

  .footer__banner__container {
    width: 90%;
  }

  .footer__container {
    padding: 48px 96px 48px 96px;
  }

  .faqs__container {
    padding-left: 0;
    padding-right: 0;
  }

  .faqs__accordion {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .faqs__accordion__box {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .nav__container {
    width: 100%;
    margin-left: 64px;
    margin-right: 0px;
  }

  .logo__font {
    margin-right: 48px;
  }

  .nav__link {
    font-size: 14px;
  }

  .nav__link--login {
    font-size: 14px;
  }

  .nav__link--signup {
    font-size: 14px;
  }

  h1 {
    font-size: 40px;
  }

  .feature__highlights {
    display: flex;
    justify-content: center;
  }

  .feature__individual__wrapper {
    margin-right: 0;
  }

  .quality__row {
    margin-right: 40px;
  }

  .quality__img {
    max-width: 500px;
    max-height: 500px;
  }

  .get__started__imgwrapper {
    margin-top: 64px;
  }

  .professionalism__column {
    margin-left: 48px;
  }

  .values__container {
    margin-left: 80px;
  }

  .values__img {
    max-width: 500px;
    max-height: 500px;
  }

  .three__plans__personal__container--purple {
    width: 30%;
  }

  .three__plans__personal__container {
    width: 30%;
  }

  .pricing__container {
    padding-top: 44px;
    padding-right: 0px;
    padding-left: 40px;
  }

  .testimonials__columns--left {
    margin-right: 0;
    margin-left: 36px;
    margin-top: 180px;
  }

  .testimonials__columns--right {
    margin-left: 36px;
  }

  .testimonials__img {
    max-width: 400px;
    max-height: 400px;
  }

  .footer__banner__container {
    margin-left: 0px;
  }

  .footer__banner__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__banner__text {
    font-size: 24px;
    text-align: center;
    margin-bottom: 64px;
  }

  .footer__banner__getstarted {
    font-size: 16px;
  }

  .footer__banner__contactus {
    font-size: 16px;
  }

  .footer__container {
    padding: 48px 36px 36px 36px;
  }

  .footer__logos__wrapper {
    display: flex;
    align-items: center;
  }
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */

@media (max-width: 1002px) {
  .nav__links {
    display: none;
  }

  .button__menu {
    display: block;
    font-size: 32px;
  }

  .quality__row {
    margin-right: 0px;
  }

  .get__started__imgwrapper {
    margin-left: 0px;
  }

  .values__container {
    margin-left: 20px;
  }

  .three__plans__container {
    display: flex;
    flex-direction: column;
  }

  .three__plans__personal__container {
    margin-bottom: 56px;
    width: 50%;
  }

  .three__plans__personal__container--purple {
    margin-bottom: 56px;
    width: 50%;
  }
}

@media (max-width: 768px) {
  .button__menu {
    display: block;
  }

  .nav__logo {
    height: 50px;
    width: 50px;
  }

  .logo__font {
    font-size: 28px;
  }

  .nav__links {
    display: none;
  }

  .intro__column--wrapper {
    display: flex;
    flex-direction: column;
  }

  .intro__column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .template__para {
    max-width: 550px;
    text-align: center;
  }

  .column__input__actions {
    width: 100%;
    scale: 1.2;
  }

  .column__para {
    font-size: 16px;
    margin-bottom: 36px;
  }

  .trusted__customers--img {
    margin-bottom: 96px;
    scale: 1.6;
  }

  .intro__image {
    scale: 1.5;
    margin-bottom: 48px;
  }

  .features__header {
    font-size: 20px;
  }

  .features__h1 {
    font-size: 36px;
  }

  .service__para {
    font-size: 20px;
    margin-bottom: 48px;
  }

  .feature__highlights {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .feature__individual__wrapper--even {
    width: 40%;
    margin-left: 20px;
  }

  .feature__individual__wrapper--odd {
    width: 40%;
    margin-right: 40px;
  }

  .quality__container {
    padding-top: 0;
    width: 100%;
  }

  .quality__row {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .quality__span {
    font-size: 20px;
  }

  .quality__title {
    font-size: 36px;
    text-align: center;
  }

  .quality__span {
    text-align: center;
  }

  .quality__para {
    font-size: 16px;
    line-height: 2;
    text-align: center;
  }

  .quality__button {
    font-size: 16px;
    padding: 16px 32px;
  }

  .quality__img {
    margin-top: 48px;
  }

  .quality__text__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .quality__text {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .quality__button {
    width: 40%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 96px;
  }

  .quality__img__wrapper {
    width: 100%;
  }

  .quality__img {
    width: 100%;
    scale: 2.2;
    margin-top: 96px;
  }

  .get__started__container {
    padding-top: 120px;
  }

  .get__started__row {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .get__started__textwrapper {
    margin: 0px 36px 36px 36px;
  }

  .get__started__text {
    text-align: center;
  }

  .get__started__imgwrapper {
    scale: 1.5;
    margin: 0px;
    padding-right: 0px;
  }

  .list__wrapper {
    display: flex;
    justify-content: flex-start;
    width: 250px;
  }

  .list__title {
    font-size: 24px;
  }

  .list__para {
    font-size: 16px;
    font-weight: 500;
  }

  .values__container {
    margin: 0;
  }

  .values__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .values__textwrapper {
    width: 70%;
    text-align: center;
    margin-bottom: 96px;
    margin-left: 0;
  }

  .affordable__column {
    margin-right: 40px;
  }

  .values__img {
    scale: 2;
    margin-top: 96px;
  }

  .pricing__container {
    padding-left: 0;
    padding-top: 36;
    margin-top: 120px;
    padding-bottom: 36px;
  }

  .three__plans__container {
    display: flex;
    flex-direction: column;
  }

  .three__plans__personal__container {
    width: 50%;
    margin-bottom: 56px;
  }

  .three__plans__personal__container--purple {
    width: 50%;
    margin-bottom: 56px;
  }

  .testimonials__container {
    padding-top: 64px;
  }

  .testimonials__columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .testimonials__columns--left {
    margin: 0px 0px 48px 0px;
    scale: 2;
  }

  .testimonials__columns--right {
    margin-top: 96px;
    margin-left: 0;
    width: 80%;
    text-align: center;
  }

  .stars__wrapper {
    font-size: 20px;
  }

  .testimonials__subtitle {
    font-size: 24px;
  }

  .testimonials__para {
    font-size: 18px;
  }

  .testimonials__review {
    scale: 1.1;
  }

  .footer__banner__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__banner__text {
    font-size: 24px;
    text-align: center;
    margin-bottom: 48px;
  }

  .footer__banner__getstarted {
    font-size: 16px;
  }

  .footer__banner__contactus {
    font-size: 16px;
  }

  .footer__container {
    padding: 68px 50px 50px 50px;
    margin-right: -155px;
  }

  .footer__listheader {
    font-size: 16px;
  }

  .footer__link {
    font-size: 12px;
  }

  #footer {
    max-width: 100%;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 36px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 24px;
    max-width: 100%;
  }

  .footer__lists {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer__list {
    width: 20%;
  }
}

@media (max-width: 645px) {
  .nav__logo {
    height: 40px;
    width: 40px;
  }

  .logo__font {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  .template__para {
    font-size: 1rem;
  }

  .intro__input {
    font-size: 16px;
  }

  .trusted__customers--img {
    scale: 1.2;
  }
}

@media (max-width: 555px) {
  h1 {
    font: 1.5rem;
  }

  .column__input__actions {
    width: 80%;
  }

  .intro__input {
    font-size: 14px;
  }

  .get__started__button {
    font-size: 12px;
  }

  .feature__individual__wrapper--even {
    margin: 0;
    width: 100%;
    margin-bottom: 36px;
  }

  .feature__individual__wrapper--odd {
    margin: 0;
    width: 100%;
    margin-bottom: 36px;
  }

  .values__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .affordable__column {
    margin: 0;
  }

  .professionalism__column {
    margin-left: 0;
    margin-top: 36px;
  }

  .three__plans__personal__container {
    width: 70%;
  }

  .three__plans__personal__container--purple {
    width: 70%;
  }

.footer__row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.footer__list {
  width: 50%;
  margin-bottom: 24px;
  margin-right: 0px;
}

.footer__divider {
  margin-top: 36px;
  margin-bottom: 36px;
}

.footer__logos__wrapper {
  display: flex;
  flex-direction: column;
}

.footer__logos__subwrapper {
  margin-bottom: 24px;
}

.footer__logo__copyright {
  margin-bottom: 24px;
}

}

@media (max-width: 520px) {

h1 {
  font-size: 24px;
}

.logo__font {
  font-size: 20px;
}

.button__menu {
  font-size: 28px;
}

.intro__column--wrapper {
  padding-bottom: 24px;
}

.features__header {
  font-size: 16px;
}

.features__h1 {
  font-size: 28px;
}

.quality__text__container {
  width: 100%;
}

.get__started__task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list__number {
  padding: 0;
  margin-bottom: 16px;
}

.pricing__container {
  margin-top: 24px;
  padding-bottom: 0;
}

.testimonials__container {
  padding: 0;
}

.testimonials__columns--left {
  margin-top: 48px;
}

.faqs__container {
  padding-bottom: 0;
}

.faqs__para {
  padding-left: 12px;
}

}


@media (max-width: 425px) {

  nav {
    display: flex;
    justify-content: space-evenly;
  }

  .nav__container {
    display: flex;
    width: 100%;
    margin-left: 0px;
  }

  .intro__column--wrapper {
    margin-bottom: 0px;
  }

  .trusted__customers--img {
    scale: .9;
  }

  .intro__image {
    scale: 2;
  }

  .features__h1 {
    font-size: 24px;
  }

  .service__para {
    font-size: 1rem;
  }

  .get__started__container {
    padding-top: 36px;
  }

  .get__started--img {
    scale: 1.2;
  }

.quality__container {
  padding-bottom: 24px;
}

  .quality__button {
    margin: 0 auto;
    font-size: 16px;
    padding: 16px 16px;
    text-align: center;
    width: 70%;
  }

.quality__img__wrapper {
  max-width: 100%;
  scale: 0.4;
  padding-top: 64px;
}

  .quality__img {
    margin-top: 0;
  }

.quality__text__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials__columns--right {
  margin-top: 12px;
}


.footer__banner__text {
  font-size: 24px;
  margin-bottom: 64px;
}

.footer__banner__getstarted {
  margin-right: 0;
  margin-bottom: 24px;
}

.footer__banner__contactus {
  margin-left: 0;
  margin-top: 12px;
}

.footer__banner__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

}

@media (max-width: 405px) {

h1 { 
  font-size: 1.4rem;
}

.button__wrapper {
scale: .92;
right: 0px;
}


}

@media (max-width: 382px) {

h1 {
  font-size: 20px;
}

.intro__input {
  font-size: 12px;
}

.quality__title {
  font-size: 32px;
}

.footer__banner__text {
  font-size: 20px;
  padding: 0px 36px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

}

@media (max-width: 382px) {

h1 {
  font-size: 24px;
  padding: 0px 16px;
  text-align: center;
  line-height: 1.5;
}

.intro__input {
  font-size: 10px;
}

.get__started__button {
  padding: 12px 16px;
  margin-right: 6px;
}

.quality__span {
  font-size: 16px;
}

.quality__para {
  font-size: 14px;
}

.quality__title {
  font-size: 24px;
  line-height: 1.5;
}

.features__h1 {
  font-size: 28px;
  padding: 0px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.three__plans__personal__container {
  margin-bottom: 36px;
}

.three__plans__personal__title {
  padding: 30px 60px;
}

.three__plans__personal__title--purple {
  padding: 30px 60px;
}

.three__plans__personal__features--purple {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 12px;
}

.main__feature {
  font-size: 20px;
  text-align: center;
}

.name {
  font-size: 16px;
}

.price {
  font-size: 24px;
}

.testimonials__para {
  font-size: 14px;
}

.testimonials__img__wrapper {
  margin-bottom: 36px;
  margin-top: 36px;
}

.arrow__right {
margin-left: 32;
margin-right: 0px;
}

.arrow__middle {
display: none;
}

.arrow__left {
  margin-left: 0;
  margin-right: 32px;
  }

.testimonials__review {
  display: flex;
  flex-direction: column;
}

.testimonials__review--left {
  margin-bottom: 16px;
}

.testimonials__review__arrows {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials__review__right {
  display: flex;
  justify-content: center;
}

.faq__accordion__text {
  font-size: 16px;
  margin-right: 8px;

}

}

@media (max-width: 320px) {

.logo__font {
  font-size: 20px;
}

.feature__individual__wrapper--odd {
  margin-left: 8px;
}

.feature__individual__wrapper--even {
  margin-left: 8px;
}

.feature__para {
  font-size: 14px;
}

.arrow__middle {
  margin-right: 50px;
}

}


